<div style="text-align:center">
  <h3>
    Ich bin ein Team Benotungsapp!
  </h3>
  <img width="80%" alt="bild" src="assets/images/main.jpeg" />
</div>
<div class="row">
  <mz-input-container>
    <input mz-input [label]="'Name'" [validate]="true" [dataError]="'Name muss ausgefüllt sein'"
      [dataSuccess]="'Und los geht\'s'" id="name" placeholder="Dein Name" length="150" type="text" [(ngModel)]="name"
      (keyup.enter)="showStart()" />
  </mz-input-container>
</div>
<div class="row">
  <button mz-button [large]="true" class="purple accent-2" (click)="showStart()"
    [disabled]="!name || name.length === 0">
    Starten
  </button>
</div>
