<div style="text-align:center">
  <h3>
    Ich bin ein Team Benotungsapp!
  </h3>
  <img width="80%" alt="bild" src="assets/images/main.jpeg" />
</div>
<div class="row">
  <mat-form-field>
    <input matInput type="text" placeholder="Name eingeben" [(ngModel)]="name" />
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field>
    <input matInput type="password" placeholder="Pw eingeben" [(ngModel)]="pw" />
  </mat-form-field>
</div>
<div class="row">
  <button mat-fab color="primary" [disabled]="checkName()" (click)="showStart()">Starten</button>
</div>
